# --- Airflow Settings ---
AIRFLOW_UID=50000
AIRFLOW_IMAGE_NAME=apache/airflow:2.8.1

# --- Airflow Database (Postgres) ---
POSTGRES_USER=airflow
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=airflow

# --- Airflow Webserver Login ---
_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=your_admin_password

# --- SQL Server Settings ---
MSSQL_SA_PASSWORD=your_sql_server_password
ACCEPT_EULA=Y

# --- Python Dependencies ---
_PIP_ADDITIONAL_REQUIREMENTS=pandas pyarrow fastparquet pymssql==2.2.8